@{
    ViewData["Title"] = "Home Page";
}

 <div class="slider">
        <ul type="disc">
            <li>
                <h3>Bugaatti</h3>
               <!-- <img src= "bugatti.jpg"/>-->
           
            </li>

            <li>
                <h3>Kwid</h3>
                <!--<img src= "../img/kwid.jpg"/>-->
           
            </li>

            <li>
                <h3>Carros</h3>
                
                <!--<img src= "../img/carros.jpg"/>-->
           
            </li>
        </ul>
    </div>


<div class="text-center">
    
    <h1 class="display-4">Welcome </h1>
    <a href="../Carros">Carros</a>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <img src= "../bugatti.jpg"/>
</div>
